<!--
  Tableau qui affiche les Déclaration de la récolte
-->
<div *ngIf="!form && !synthetique &&!consult" >
  <div class="page-header">
    <h3 class="page-title">
      Déclaration de la récolte
    </h3>
    <div>
    </div>
    <div class="text-right">
      <button pButton (click)="showForm()" pRipple type="button" icon="pi pi-plus" pTooltip="Ajouter" tooltipPosition="bottom" class="p-button-rounded p-button-info p-mr-2 mr-3"></button>
      <button pButton pRipple type="button" (click)="showHideSynthetique()" icon="pi pi-align-justify" pTooltip="Vue synthétique" tooltipPosition="bottom" class="p-button-rounded p-button-help p-mr-2"></button>
      <button pButton pRipple type="button" icon="pi pi-chart-bar" pTooltip="Vue graphique" tooltipPosition="bottom" class="p-button-rounded p-button-warning p-mr-2 mr-3"></button>
      <button pButton pRipple type="button" (click)="exportExcel()" icon="pi pi-file-excel" pTooltip="Excel" tooltipPosition="bottom" class="p-button-rounded p-button-secondary p-mr-2"></button>
      <button pButton pRipple type="button" (click)="exportPdf()" icon="pi pi-file-pdf" pTooltip="PDF" tooltipPosition="bottom" class="p-button-rounded p-button-success p-mr-2"></button>
      <button pButton pRipple type="button" (click)="printPdf()" icon="pi pi-print" pTooltip="Imprimer" tooltipPosition="bottom" class="p-button-rounded p-button-warning p-mr-2"></button>
    </div>
  </div>
  <div class="row">
    <p-table #dt [value]="declarations" [columns]="selectedColumns" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
      [paginator]="true" currentPageReportTemplate="Afficher {first} à {last} de {totalRecords} entrées"
      [globalFilterFields]="['Observations','parcelles','RecolteMO','RecolteHorsMO','VentePieds','QteTotale']"
     >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche globale" />
          </span>
          <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
          selectedItemsLabel="{0} colonnes sélectionnées" [style]="{minWidth: '200px'}" placeholder="Choix d'affichage"></p-multiSelect>  
          <button *ngIf="selectedDeclarations.length>0" pButton pRipple label="Supprimer({{selectedDeclarations.length}})" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedDeclarations()" [disabled]="!selectedDeclarations || !selectedDeclarations.length"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3rem">
            <p-checkbox (onChange)="showOnlyLinkedRisks($event)"></p-checkbox>
          </th>
          <th *ngFor="let col of columns">
            <div *ngIf="col.field == 'parcelles' || col.field == 'RecolteMO'|| col.field == 'RecolteHorsMO' || col.field == 'VentePieds'|| col.field == 'QteTotale'" 
            class="p-d-flex p-jc-between p-ai-center">
              {{col.header}}
              <p-columnFilter type="numeric" field="{{col.field}}" display="menu"></p-columnFilter>
            </div>
            <div *ngIf="col.field == 'Observations' " 
            class="p-d-flex p-jc-between p-ai-center">
              {{col.header}}
              <p-columnFilter type="text" field="{{col.field}}" display="menu"></p-columnFilter>
            </div>
            <div *ngIf="col.field == 'DateRecolte'" class="p-d-flex p-jc-between p-ai-center">
              {{col.header}}
              <p-columnFilter type="date" field="{{col.field}}" display="menu"></p-columnFilter>            
            </div>
          </th>
          <th style="width: 8rem">
            <div class="p-d-flex p-jc-between p-ai-center">
              Actions
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-declaration let-columns="columns">
        <tr>
          <td>
            <p-checkbox name="groupname" [value]="declaration" [(ngModel)]="selectedDeclarations"></p-checkbox>
          </td>
          <td *ngFor="let col of columns">
            <div *ngIf="col.field=='DateRecolte'" class="text-center">{{declaration[col.field] | date: 'MM/dd/yyyy' }}</div>
            <div *ngIf="col.field!='DateRecolte'&& typeof(declaration[col.field])!='number'" >{{declaration[col.field]}}</div>
            <div *ngIf="col.field!='DateRecolte' && typeof(declaration[col.field])=='number'" class="text-right">{{declaration[col.field] }}</div>
          </td>
          <td class="text-center">
            <button pButton pRipple type="button" (click)="consultDeclaration(declaration.ID[0])" icon="pi pi-eye" pTooltip="Consulter" tooltipPosition="bottom" class="p-button-rounded p-button-success"></button>
            <button pButton pRipple type="button" (click)="edit(declaration.ID[0])" icon="pi pi-pencil" pTooltip="Editer" tooltipPosition="bottom" class="p-button-rounded p-button-warning"></button>      
            <button pButton pRipple type="button" (click)="delete(declaration.ID[0])" icon="pi pi-trash" pTooltip="Supprimer" tooltipPosition="bottom" class="p-button-rounded p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">Aucune déclaration de récolte n'est trouvée</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </div>
  <!--
  Tableau qui affiche le détail des Déclarations de la récolte
  -->
  <div *ngIf="synthetique &&!consult" >
    <div class="page-header">
  <h3 class="page-title">
    Déclaration de la récolte
  </h3>
  <div class="text-right">
    <button pButton pRipple type="button" (click)="showHideSynthetique()" icon="pi pi-bars" pTooltip="Vue normale" tooltipPosition="bottom" class="p-button-rounded p-button-info p-mr-2 mr-3"></button>
    <button pButton pRipple type="button" (click)="exportDetailsExcel()" icon="pi pi-file-excel" pTooltip="Excel" tooltipPosition="bottom" class="p-button-rounded p-button-secondary p-mr-2"></button>
    <button pButton pRipple type="button" (click)="exportDetailsPdf()" icon="pi pi-file-pdf" pTooltip="PDF" tooltipPosition="bottom" class="p-button-rounded p-button-success p-mr-2"></button>
    <button pButton pRipple type="button" (click)="printDetailsPdf()" icon="pi pi-print" pTooltip="Imprimer" tooltipPosition="bottom" class="p-button-rounded p-button-warning p-mr-2"></button>

  </div>
</div>
  <div class="row">
  <p-table #dt1 [value]="detailsDeclarations" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
    [paginator]="true" currentPageReportTemplate="Afficher {first} à {last} de {totalRecords} entrées"
    [globalFilterFields]="['Ref','designation','RecolteMO','RecolteHorsMO','VentePieds','QteTotale']">
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche globale" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Date de récolte
            <p-columnFilter type="date" field="DateRecolte" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Parcelle
            <p-columnFilter type="text" field="Ref" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Type du produit
            <p-columnFilter type="text" field="designation" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Récolte MO
            <p-columnFilter type="numeric" field="RecolteMO" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Récolte hors MO
            <p-columnFilter type="numeric" field="RecolteHorsMO" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Vente sur pieds
            <p-columnFilter type="numeric" field="VentePieds" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Quantité totale
            <p-columnFilter type="numeric" field="QteTotale" display="menu"></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-declaration>
      <tr>
        <td class="text-center">
          {{declaration.DateRecolte | date: 'MM/dd/yyyy'}}
        </td>
        <td>
          <span class="image-text"> {{declaration.Ref}}</span>
        </td>
        <td>
          <span class="image-text">{{declaration.designation}}</span>
        </td>
        <td class="text-right">
          {{declaration.RecolteMO}}
        </td>
        <td class="text-right">
          {{declaration.RecolteHorsMO}}
        </td>
        <td class="text-right">
          {{declaration.VentePieds}}
        </td> 
        <td class="text-right">
          {{declaration.QteTotale}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Aucune déclaration de récolte n'est trouvée</td>
      </tr>
    </ng-template>
  </p-table>
</div>
</div>
<!--
  Formulaire d'ajout + modification
-->
  <div *ngIf="form && !synthetique && !consult">
    <div class="text-right">
      <button type="button" pButton pRipple icon="pi pi-times" (click)="showForm()" class="p-button-danger p-ml-auto" pTooltip="Fermer" tooltipPosition="bottom"></button>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-4"> Informations générales</h5>
              <div class="row">
                <div class="col-md-12 mb-3" >
                  <label for="float-input">Date de récolte</label>
                  <p-calendar [(ngModel)]="declaration.date_recolte" class="date" [maxDate]="currentDate" [style]="{'width': '100%'}"></p-calendar>
                </div>
                <div class="col-md-12">
                  <label for="float-input">Observations</label>
                  <textarea rows="1" cols="30" [style]="{'width': '100%'}" pInputTextarea autoResize="autoResize" [(ngModel)]="declaration.observations"></textarea>
                </div>
              </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-4">Quantités récoltés</h5>
            <div class="row" style="background-color:#F7F7F7; padding-top: 17px; border-radius:5px; margin-bottom: 10px;">
              <div class="col-md-2">Parcelle</div>
              <div class="col-md">Type de produit</div>
              <div class="col-md">Récolte MO (kg)</div>
              <div class="col-md">Récolte hors MO</div>
              <div class="col-md">Vente sur pieds</div>
              <div class="col-md">Quantité totale</div>
              <div class="col-md">Solde</div>
              <div class="col-md">Actions</div>
            </div>
            <div class="row" *ngFor="let parcelle of parcelles; first as first;last as last;">
              <div class="col-md-2">

                <p-dropdown [autoDisplayFirst]="false" [options]="listParcelles" (onChange)="onChange($event)" [style]="{'width':'100%','min-width':'100%'}" [(ngModel)]="parcelle.ID_Parcelle_Culturale" [showClear]="true" filter="true">
                  <ng-template let-item pTemplate="selectedItem">
                    <span >{{item.label}}</span>
                  </ng-template>
                  <ng-template let-parcelle pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                      <div>{{parcelle.label}}</div>     
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
              <div class="col-md" style="padding-top:10px;">{{parcelle.type}}</div>
              <div class="col-md">
                <p-inputNumber [min]="0"  mode="decimal" [minFractionDigits]="2" [(ngModel)]="parcelle.RecolteMO" class="p-inputtext-sm right" (onBlur)="calculTotal(parcelle)"></p-inputNumber>
              </div>
              <div class="col-md">
                <p-inputNumber [min]="0" [style]="{'text-align':'right'}" mode="decimal" [minFractionDigits]="2" [(ngModel)]="parcelle.RecolteHorsMO" class="p-inputtext-sm" (onBlur)="calculTotal(parcelle)"></p-inputNumber>

              </div>
              <div class="col-md">
                <p-inputNumber [min]="0" mode="decimal" [minFractionDigits]="2" [(ngModel)]="parcelle.VentePieds" class="p-inputtext-sm" (onBlur)="calculTotal(parcelle)"></p-inputNumber>
              </div>
              <div class="col-md">
                <p-inputNumber [min]="0" [minFractionDigits]="2" [(ngModel)]="parcelle.QteTotale" disabled class="p-inputtext-sm"></p-inputNumber>

              </div>
              <div class="col-md">                    
                <p-inputNumber [(ngModel)]="parcelle.Solde" [minFractionDigits]="2" mode="decimal" class="p-inputtext-sm"  [min]="0" ></p-inputNumber>
              </div>
              <div class="col-md">
                  <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded p-button-warning mr-1" (click)="removeItem(parcelle)"></button>
                  <button *ngIf="last" pButton pRipple type="button" icon="pi pi-plus"  (click)="addItem()" class="p-button-rounded p-button-info"></button>  
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="text-right">
      <button *ngIf="forEdit" pButton pRipple type="button" (click)="update()" label="Modifier" class="p-button-raised p-button-warning"></button>
      <button *ngIf="!forEdit" pButton pRipple type="button" (click)="save()" label="Enregistrer" class="p-button-raised p-button-primary"></button>
      <button pButton pRipple type="button" (click)="cancel()" label="Annuler" class="p-button-raised p-button-secondary ml-1"></button>
    </div>
  </div>
  <div *ngIf="consult" >
    <div class="text-right">
      <button type="button" pButton pRipple icon="pi pi-times" (click)="consult=!consult" class="p-button-danger p-ml-auto" pTooltip="Fermer" tooltipPosition="bottom"></button>
    </div>
    <div class="row">
    <div class="col-md-4">
      <h4>Informations générales</h4>
      <hr/>
      <p-table  [value]="declarationForConsult">
        <ng-template pTemplate="header">
            <tr>
                <th>Date de la récolte</th>
                <th>Observations</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-declaration>
            <tr>
                <td>{{declaration.date_recolte | date: 'MM/dd/yyyy'}}</td>
                <td>{{declaration.observations}}</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-md-8">
      <h4>Quantités Récoltés (kg)</h4>
      <hr/>
      <p-table [value]="parcelles">
        <ng-template pTemplate="header">
            <tr>
                <th>Parcelle</th>
                <th>Récolte MO</th>
                <th>Récolte hors MO</th>
                <th>Vente sur pieds</th>
                <th>Quantité totale</th>
                <th>Solde</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-parcelle>
            <tr>
                <td>{{parcelle.designation}}</td>
                <td>{{parcelle.RecolteMO}}</td>
                <td>{{parcelle.RecolteHorsMO}}</td>
                <td>{{parcelle.VentePieds}}</td>
                <td>{{parcelle.QteTotale}}</td>
                <td>{{parcelle.Solde}}</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  </div>