<!--
  Tableau qui affiche les Déclaration de la récolte
-->
<div *ngIf="!form && !synthetique &&!consult &&!graphiqueView" >
  <div class="page-header">
    <h3 class="page-title">
      {{ 'mainOeuvre.ouvriers' | translate }}
    </h3>
    <div>
    </div>
    <div class="text-right">
      <button pButton (click)="showForm()" pRipple type="button" icon="pi pi-plus" pTooltip="{{'global.ajouter'|translate}}" tooltipPosition="bottom" class="p-button-rounded p-button-info p-mr-2 mr-3 ml-3"></button>
      <button pButton pRipple type="button" (click)="exportExcel()" icon="pi pi-file-excel" pTooltip="{{'global.excel'|translate}}" tooltipPosition="bottom" class="p-button-rounded p-button-secondary p-mr-2"></button>
      <button pButton pRipple type="button" (click)="exportPdf()" icon="pi pi-file-pdf" pTooltip="{{'global.pdf'|translate}}" tooltipPosition="bottom" class="p-button-rounded p-button-success p-mr-2"></button>
      <button pButton pRipple type="button" (click)="printPdf()" icon="pi pi-print" pTooltip="{{'global.imprimer'|translate}}" tooltipPosition="bottom" class="p-button-rounded p-button-warning p-mr-2"></button>
    </div>
  </div>
  <div class="row">
    <p-table #dt [value]="ouvriers" [scrollable]="true" [style]="{width:'90rem'}" [columns]="selectedColumns" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
      [paginator]="true" currentPageReportTemplate="{{'primeng.afficherDeA'|translate}}"
      [globalFilterFields]="fields"
      >
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width:3rem">
          <col *ngFor="let selected of selectedColumns" [ngStyle]="setMyStyles()">
          <col [ngStyle]="setMyStyles()">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="{{'primeng.recherche' |translate}}" />
          </span>
         <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" (onChange)="selectColumn($event)"
          selectedItemsLabel="{0} {{'primeng.selectedColumns'|translate}}" [style]="{minWidth: '200px'}" placeholder="{{'primeng.choiceColumns'|translate}}"
          class="multiselect-custom">
          <ng-template let-value pTemplate="selectedItems">
            <div class="country-placeholder">
              {{selectedColumns.length}}  {{'primeng.selectedColumns'|translate}}
            </div>
          </ng-template>
          <ng-template let-country pTemplate="item">
            <div class="country-item">
              <div>{{'mainOeuvre.'+country.header|translate}}</div>
            </div>
          </ng-template>
        </p-multiSelect>
          <button *ngIf="selectedOuvriers.length>0" (onChange)="showSelected()" pButton pRipple label="{{'global.supprimer'|translate}}({{selectedOuvriers.length}})" icon="pi pi-trash" class="p-button-danger" (click)="deleteselectedOuvriers()" [disabled]="!selectedOuvriers || !selectedOuvriers.length"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr [style]="{'background-color': '#eff1f2'}">
          <th>
            <p-checkbox (onChange)="showOnlySelected($event)"></p-checkbox>
          </th>
          <th *ngFor="let col of columns">
            <div *ngIf="col.field != 'Dat_Nai' && col.field !='Date_Embauche'"
            class="p-d-flex p-jc-between p-ai-center">
            {{'mainOeuvre.'+col.header |translate}}
              <p-columnFilter type="text" field="{{col.field}}" display="menu"></p-columnFilter>
            </div>
            <div *ngIf="col.field == 'Dat_Nai' ||col.field =='Date_Embauche'" class="p-d-flex p-jc-between p-ai-center">
              {{'mainOeuvre.'+col.header | translate}}
              <p-columnFilter type="date" field="{{col.field}}" display="menu"></p-columnFilter>            
            </div>
          </th>
          <th>
            <div class="p-d-flex p-jc-between p-ai-center">
              {{'primeng.actions'|translate}}
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-declaration let-columns="columns">
        <tr>
          <td>
            <p-checkbox name="groupname" [value]="declaration" [(ngModel)]="selectedOuvriers"></p-checkbox>
          </td>
          <td *ngFor="let col of columns">
            <div *ngIf="col.field=='Civilite'&&civilites[declaration[col.field]-1]" class="text-center"> {{civilites[declaration[col.field]-1].label }}</div>
            <div *ngIf="col.field=='Situ_Fam' && situations[declaration[col.field]-1]" class="text-center">{{situations[declaration[col.field]-1].label }}</div>
            <div *ngIf="col.field!='Civilite' && col.field!='Situ_Fam' && col.field == 'Dat_Nai' ||col.field =='Date_Embauche'" class="text-center">{{declaration[col.field] | date: 'MM/dd/yyyy' }}</div>
            <div *ngIf="col.field!='Civilite' && col.field!='Situ_Fam' && col.field != 'Dat_Nai' && col.field !='Date_Embauche' && typeof(declaration[col.field])!='number'" >{{declaration[col.field]}}</div>
            <div *ngIf="col.field!='Civilite' && col.field!='Situ_Fam' && col.field != 'Dat_Nai' && col.field !='Date_Embauche' && typeof(declaration[col.field])=='number'" class="text-right">{{declaration[col.field] }}</div>
          </td>
          <td class="text-center">
            <button pButton pRipple type="button" (click)="consultDeclaration(declaration.ID)" icon="pi pi-eye" pTooltip="{{'global.consulter'|translate}}" tooltipPosition="bottom" class="p-button-rounded p-button-success"></button>
            <button pButton pRipple type="button" (click)="edit(declaration.ID)" icon="pi pi-pencil" pTooltip="{{'global.editer'|translate}}" tooltipPosition="bottom" class="p-button-rounded p-button-warning"></button>      
            <button pButton pRipple type="button" (click)="delete(declaration.ID)" icon="pi pi-trash" pTooltip="{{'global.supprimer'|translate}}" tooltipPosition="bottom" class="p-button-rounded p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="15">{{'primeng.tableVide'|translate}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </div>

<!--
  Formulaire d'ajout + modification
-->
  <div *ngIf="form && !synthetique && !consult && !graphiqueView">
    <div class="text-right">
      <button type="button" pButton pRipple icon="pi pi-times" (click)="showForm()" class="p-button-danger p-ml-auto" pTooltip="{{'global.fermer'|translate}}" tooltipPosition="bottom"></button>
    </div>
    <p-tabView>
      <p-tabPanel header="{{'mainOeuvre.etatcivil'|translate}}">
                    <div class="col-md-12 mb-3" >
            
                      <label for="float-input" cols="100" >{{'mainOeuvre.matricule'|translate}}  </label>
                      <input type="text" pInputText style="width:100%;" name="mat" [(ngModel)]="ouvrier.matricule" #mat="ngModel" required />                     
                    </div>
                    <div class="col-md-12 mb-3" >
                      
                      <label for="float-input" cols="100" >{{'mainOeuvre.codeBarre'|translate}}</label>
                      <input type="text" pInputText style="width:100%;"  name="codeBarre"  [(ngModel)]="ouvrier.codeBarre" />                     
                    </div>
                    <div class="col-md-12 mb-3" >
                      <label for="float-input" cols="100" >{{'mainOeuvre.civilite'|translate}} </label>
                      <p-dropdown [autoDisplayFirst]="false" name="civilite"  [required]="true" [(ngModel)]="ouvrier.civilite" #civilite="ngModel" [options]="'mainOeuvre.civilites'|translate" placeholder="{{'mainOeuvre.civilite'|translate}}..." [style]="{'width':'100%','min-width':'100%'}" [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span >{{item.label}}</span>
                        </ng-template>
                        <ng-template let-caporal pTemplate="item">
                          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                            <div>{{caporal.label}}</div>     
                          </div>
                        </ng-template>
                      </p-dropdown>      
                    </div>
                    <div class="col-md-12 mb-3" >
                      
                      <label for="float-input" cols="100" >{{'mainOeuvre.nom'|translate}}  </label>
                      <input type="text" pInputText style="width:100%;" name="nom" [(ngModel)]="ouvrier.nom"  #nom="ngModel" required/>                     
                    </div>
                    <div class="col-md-12 mb-3" >
                      
                      <label for="float-input" cols="100" >{{'mainOeuvre.prenom'|translate}}  </label>
                      <input type="text" pInputText style="width:100%;" name="prenom" [(ngModel)]="ouvrier.prenom"  #prenom="ngModel" required/>                     
                    </div>
               
                    <div class="col-md-12 mb-3" >
                      
                      <label for="float-input" cols="100" >{{'mainOeuvre.CIN'|translate}} </label>
                      <input type="text" pInputText style="width:100%;" name="cin" [(ngModel)]="ouvrier.cin" required/>                     
                    </div>
                    
                    <div class="col-md-12 mb-3" >
                      <label for="float-input">{{'mainOeuvre.dateNaissance'|translate}}</label>
                      <p-calendar class="date" [maxDate]="currentDate" name="dn" [style]="{'width': '100%'}" [(ngModel)]="ouvrier.dateNaissance" required></p-calendar>
                    </div>
                    <div class="col-md-12 mb-3" >
                      
                      <label for="float-input" cols="100" >{{'mainOeuvre.situationFamiliale'|translate}}  </label>
                      <p-dropdown [autoDisplayFirst]="false" name="sf"  [required]="true" [(ngModel)]="ouvrier.situationFamiliale" #civilite="ngModel" [options]="'mainOeuvre.situations'|translate" placeholder="{{'mainOeuvre.situationFamiliale'|translate}}..." [style]="{'width':'100%','min-width':'100%'}" [showClear]="true">
                        <ng-template let-item pTemplate="selectedItem">
                          <span >{{item.label}}</span>
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                            <div>{{item.label}}</div>     
                          </div>
                        </ng-template>
                      </p-dropdown>   
                   
                    </div>
                    <div class="col-md-12 mb-3" >
                      <label for="float-input" cols="100" >{{'mainOeuvre.nombreEnfants'|translate}}  </label>
                      <p-inputNumber [style]="{'width':'100%'}" name="nbrE" [(ngModel)]="ouvrier.nombreEnfants"></p-inputNumber>
                    </div>
                    <div class="col-md-12 mb-3" >
                      
                      <label for="float-input" cols="100" >{{'mainOeuvre.adresse'|translate}}  </label>
                      <input type="text" pInputText style="width:100%;" name="adr" [(ngModel)]="ouvrier.addresse"/>                     
                    </div>
                    <div class="col-md-12 mb-3" >
                      <label for="float-input" cols="100" >{{'mainOeuvre.tel'|translate}}  </label>
                      <input type="text" pInputText style="width:100%;" name="tel" [(ngModel)]="ouvrier.tel"/>                     
                    </div>
                    <div class="col-md-12 mb-3">
                      <label for="float-input">{{'mainOeuvre.email'|translate}}</label>
                      <input type="text" pInputText style="width:100%;" name="email" [(ngModel)]="ouvrier.email"/>                     
                    </div>
                    <div class="col-md-12 mb-3" >
                      <label for="float-input" cols="100" >{{'mainOeuvre.niveauScolaire'|translate}}  </label>

                      <button pButton pRipple (click)="showModalDialog1()" type="button" icon="pi pi-plus" pTooltip="{{'global.ajouter'|translate}}" tooltipPosition="bottom" class="p-button-rounded p-button-secondary p-mr-2 mr-3 ml-3"></button>
                      <p-dropdown [autoDisplayFirst]="false" name="ns" [style]="{'width':'100%'}" [(ngModel)]="ouvrier.niveauScolaire" placeholder="{{'mainOeuvre.niveauScolaire'|translate}}..." [options]="niveaux">
                        <ng-template let-item pTemplate="selectedItem">
                          <span >{{item.label}}</span>
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                            <div>{{item.label}}</div>     
                          </div>
                        </ng-template>
                      </p-dropdown>   
                    </div>
                    <p-dialog header="{{'mainOeuvre.niveauScolaire'|translate}}" [(visible)]="displayModal1" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                        [draggable]="false" [resizable]="false">
                        <input type="text" pInputText style="width:100%;" [(ngModel)]="niveau"/>                     
                            <ng-template pTemplate="footer">
                            <p-button icon="pi pi-check" (click)="addNiveau()" label="{{'global.enregistrer'|translate}}" styleClass="p-button-text"></p-button>
                            </ng-template>
                    </p-dialog>
                         <div class="col-md-12" >   
                      <label for="float-input" cols="100" >{{'mainOeuvre.qualification'|translate}}  </label>
                      <button pButton pRipple (click)="showModalDialog2()" type="button" icon="pi pi-plus" pTooltip="{{'global.ajouter'|translate}}" tooltipPosition="bottom" class="p-button-rounded p-button-secondary p-mr-2 mr-3 ml-3"></button>
                      <p-dropdown [autoDisplayFirst]="false" name="qualif" [(ngModel)]="ouvrier.qualification" placeholder="{{'mainOeuvre.qualification'|translate}}..." [style]="{'width':'100%'}"  [options]="qualifications">
                        <ng-template let-item pTemplate="selectedItem">
                          <span >{{item.label}}</span>
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                            <div>{{item.label}}</div>     
                          </div>
                        </ng-template>
                      </p-dropdown>   
                    </div>
                    <p-dialog header="{{'mainOeuvre.qualification'|translate}}" [(visible)]="displayModal2" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                        [draggable]="false" [resizable]="false">
                        <input type="text" pInputText style="width:100%;" [(ngModel)]="qualification"/>                     
                            <ng-template pTemplate="footer">
                            <p-button icon="pi pi-check" (click)="addQualification()" label="{{'global.enregistrer'|translate}}" styleClass="p-button-text"></p-button>
                            </ng-template>
                    </p-dialog>
                  
      </p-tabPanel>
      <p-tabPanel header="{{'mainOeuvre.fonction'|translate}}">
                <div class="col-md-12" >   
                  <label for="float-input" cols="100" >{{'mainOeuvre.fonction'|translate}}  </label>
                  <button pButton pRipple (click)="showModalDialog4()" type="button" icon="pi pi-plus" pTooltip="{{'global.ajouter'|translate}}" tooltipPosition="bottom" class="p-button-rounded p-button-secondary p-mr-2 mr-3 ml-3"></button>
                  <p-dropdown [autoDisplayFirst]="false" name="fonction" [(ngModel)]="ouvrier.fonction"  placeholder="{{'mainOeuvre.fonction'|translate}}..." [style]="{'width':'100%'}" [options]="fonctions" >
                    <ng-template let-item pTemplate="selectedItem">
                      <span >{{item.label}}</span>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <div>{{item.label}}</div>     
                      </div>
                    </ng-template>
                  </p-dropdown> 
                </div>
                <p-dialog header="{{'mainOeuvre.fonction'|translate}}" [(visible)]="displayModal4" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                [draggable]="false" [resizable]="false">
                <input  type="text" pInputText style="width:100%;" [(ngModel)]="fonction"/>                     
                    <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="addFonction()" label="{{'global.enregistrer'|translate}}" styleClass="p-button-text"></p-button>
                    </ng-template>
              </p-dialog>
                <div class="col-md-12 m-2" >
                  <p-checkbox [(ngModel)]="ouvrier.caporal" name="caporal" binary="true" inputId="binary"></p-checkbox>   
                  <label for="float-input" cols="100" style="margin-bottom:1px;margin-left:2px;margin-right:2px;" >{{'mainOeuvre.caporal'|translate}}</label>
                </div>
                <div class="col-md-12" >   
                  <label for="float-input" cols="100" >{{'mainOeuvre.attache'|translate}}  </label>
                  <p-dropdown [autoDisplayFirst]="false" name="attache" [(ngModel)]="ouvrier.attache" [options]="caporals" placeholder="{{'mainOeuvre.attache'|translate}}..." [style]="{'width':'100%','min-width':'100%'}" [showClear]="true" filter="true">
                    <ng-template let-item pTemplate="selectedItem">
                      <span >{{item.label}}</span>
                    </ng-template>
                    <ng-template let-caporal pTemplate="item">
                      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <div>{{caporal.label}}</div>     
                      </div>
                    </ng-template>
                  </p-dropdown>
           
                </div>
                 
                <div class="col-md-12 mb-3" >
                  <label for="float-input" cols="100" >{{'mainOeuvre.categorie'|translate}}  </label>
                  <button pButton pRipple (click)="showModalDialog3()" type="button" icon="pi pi-plus" pTooltip="{{'global.ajouter'|translate}}" tooltipPosition="bottom" class="p-button-rounded p-button-secondary p-mr-2 mr-3 ml-3"></button>
                  
                  <p-dropdown [autoDisplayFirst]="false" name="categorie" [(ngModel)]="ouvrier.categorie" placeholder="{{'mainOeuvre.categorie'|translate}}..." [style]="{'width':'100%'}" [options]="categories">
                    <ng-template let-item pTemplate="selectedItem">
                      <span >{{item.label}}</span>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <div>{{item.label}}</div>     
                      </div>
                    </ng-template>
                  </p-dropdown> 
                </div>
                <p-dialog header="{{'mainOeuvre.categorie'|translate}}" [(visible)]="displayModal3" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                    [draggable]="false" [resizable]="false">
                    <input type="text" pInputText style="width:100%;" [(ngModel)]="categorie"/>                     
                        <ng-template pTemplate="footer">
                        <p-button icon="pi pi-check" (click)="addCategorie()" label="{{'global.enregistrer'|translate}}" styleClass="p-button-text"></p-button>
                        </ng-template>
                </p-dialog>

                <div class="col-md-12" >   
                  <label for="float-input" cols="100" >{{'mainOeuvre.dateEmbauche'|translate}}  </label>
                  <p-calendar class="date" name="dEmb" [maxDate]="currentDate" [style]="{'width': '100%'}" [(ngModel)]="ouvrier.dateEmbauche"></p-calendar>
                </div>
                <div class="col-md-12" >   
                  <label for="float-input" cols="100" >{{'mainOeuvre.cnss'|translate}}  </label>
                  <p-inputNumber [style]="{'width':'100%'}" name="cnss" [(ngModel)]="ouvrier.cnss"></p-inputNumber>
                </div>
                <div class="col-md-12" >   
                  <label for="float-input" cols="100" >{{'mainOeuvre.anciennete'|translate}}</label>
                  <p-inputNumber [style]="{'width':'100%'}" name="anciennete" [(ngModel)]="ouvrier.anciennete"></p-inputNumber>
                </div>
                <div class="col-md-12" >   
                  <label for="float-input" cols="100" >{{'mainOeuvre.droitConge'|translate}}  </label>
                  <p-inputNumber  [style]="{'width':'100%'}" name="droitConge" [min]="0" mode="decimal" [minFractionDigits]="2" class="p-inputtext-sm right" [(ngModel)]="ouvrier.droitConge" #droitConge="ngModel" required ></p-inputNumber>
                </div>
                <div class="col-md-12" >   
                  <label for="float-input" cols="100" >{{'mainOeuvre.congeInitial'|translate}}</label>
                  <p-inputNumber [style]="{'width':'100%'}" name="congeInitial" [min]="0" mode="decimal" [minFractionDigits]="2" class="p-inputtext-sm right" [(ngModel)]="ouvrier.congeInitial"></p-inputNumber>
                </div>
                <div class="col-md-12" >   
                  <label for="float-input" cols="100" >{{'mainOeuvre.tauxAssurance'|translate}}</label>
                  <p-inputNumber [style]="{'width':'100%'}" name="tAssur" [(ngModel)]="ouvrier.tauxAssurance"></p-inputNumber>
                </div>
                <div class="col-md-12" >   
                  <label for="float-input" cols="100" >{{'mainOeuvre.matriculeAMC'|translate}}</label>
                  <p-inputNumber [style]="{'width':'100%'}" name="matAMC" [(ngModel)]="ouvrier.matriculeAMC"></p-inputNumber>
                </div>
                <div class="col-md-12" >   
                  <label for="float-input" cols="100" >{{'mainOeuvre.optionAMC'|translate}}</label>
                  <p-dropdown [autoDisplayFirst]="false" [options]="amc" [style]="{'width':'100%'}" placeholder="{{'mainOeuvre.optionAMC'|translate}}..." name="optionAMC" [(ngModel)]="ouvrier.optionAMC">
                    <ng-template let-item pTemplate="selectedItem">
                      <span >{{item.label}}</span>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <div>{{item.label}}</div>     
                      </div>
                    </ng-template>
                  </p-dropdown> 
                </div>
                <div class="col-md-12 m-2" >   
                  <p-checkbox binary="true"  inputId="binary" name="exercice" [(ngModel)]="ouvrier.exercice"></p-checkbox>
                  <label for="float-input" cols="100" style="margin-bottom:1px;margin-left:2px;margin-right:2px;">{{'mainOeuvre.exercice'|translate}}</label>
                </div>
                <div class="col-md-12 m-2" >   
                  <p-checkbox  binary="true" inputId="binary" name="contractuel" [(ngModel)]="ouvrier.contractuel"></p-checkbox>
                  <label for="float-input" cols="100" style="margin-bottom:1px;margin-left:2px;margin-right:2px;"  >{{'mainOeuvre.contractuel'|translate}}</label>
                </div>
                <div class="col-md-12 m-2" >   
                  <p-checkbox name="formationPhyto" [(ngModel)]="ouvrier.formationPhyto" binary="true"  inputId="binary"></p-checkbox>
                  <label for="float-input" cols="100" style="margin-bottom:1px;margin-left:2px;margin-right:2px;" >{{'mainOeuvre.fomationPhyto'|translate}}  </label>
                </div>
                <div class="col-md-12" >   
                  <label for="float-input" cols="100" >{{'mainOeuvre.obs'|translate}}  </label>
                  <textarea pInputTextarea [style]="{'width':'100%'}" name="obs" [(ngModel)]="ouvrier.observation"></textarea>
                </div>
      </p-tabPanel>
      <p-tabPanel header="{{'mainOeuvre.paie.name'|translate}}">
        <div class="col-md-12" >   
          <label for="float-input" cols="100" >{{'mainOeuvre.salaireBase'|translate}}  </label>
          <p-inputNumber [style]="{'width':'100%'}" [min]="0" mode="decimal" name="salaireBase" [(ngModel)]="ouvrier.salaireBase" #salaireBase="ngModel" [required]="true" [minFractionDigits]="2" class="p-inputtext-sm right" ></p-inputNumber>
        </div>
        <div class="col-md-12" >   
          <div class="card">
            <div class="card-body" style="padding: 0 0 0 1rem !important;">
              <div class="row" style="padding-top: 10px; border-radius:5px; ">
                <div class="col-md" style="padding-right: 20px !important;"  [ngClass]="{'text-right':lang.isAr(),'text-left':!lang.isAr()}">{{'mainOeuvre.primes'|translate}}</div>
                
                <div class="col-md" style="padding-right: 20px !important;" [ngClass]="{'text-right':lang.isAr(),'text-left':!lang.isAr()}">{{'mainOeuvre.montant'|translate}}</div>
                <div class="col-md" style="padding-right: 20px !important;" [ngClass]="{'text-right':lang.isAr(),'text-left':!lang.isAr()}">{{'primeng.actions'|translate}}</div>
              </div>
              <div class="row" *ngFor="let prime of ouvrier.primes; first as first;last as last;">
                <div class="col-md" style="padding-right: 20px !important;" >
                  <p-dropdown [autoDisplayFirst]="false" [(ngModel)]="prime.prime" [options]="primes" [style]="{'width':'100%','min-width':'100%'}" [showClear]="true" filter="true">
                    <ng-template let-item pTemplate="selectedItem">
                      <span >{{item.label}}</span>
                    </ng-template>
                    <ng-template let-caporal pTemplate="item">
                      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <div>{{caporal.label}}</div>     
                      </div>
                    </ng-template>
                  </p-dropdown>
                  
                </div>
                <div class="col-md">                    
                  <p-inputNumber [(ngModel)]="prime.montant" [style]="{'width':'100%'}" [minFractionDigits]="2" mode="decimal" class="p-inputtext-sm"  [min]="0" ></p-inputNumber>
                </div>
                <div class="col-md" [ngClass]="{'text-right':lang.isAr(),'text-left':!lang.isAr()}">
                    <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-rounded p-button-warning mr-1" (click)="removeItem(prime)"></button>
                    <button *ngIf="last" pButton pRipple type="button" icon="pi pi-plus"  (click)="addItem()" class="p-button-rounded p-button-info"></button>  
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-12" >   
          <label for="float-input" cols="100" >{{'mainOeuvre.unitePaiement'|translate}}  </label>
          <div class="p-field-radiobutton mb-2" *ngFor="let unite of 'mainOeuvre.unitesPaiement'|translate">
              <p-radioButton name="unite{{unite.code}}" [(ngModel)]="ouvrier.unitePaiement" value="{{unite.code}}" inputId="unite{{unite.code}}" #unite{{unite.code}}="ngModel" [required]="true"></p-radioButton>
              <label for="unite{{unite.code}}" style="margin-bottom:1px;margin-left:2px;margin-right:2px;">{{unite.name}}</label>
          </div>
        </div>
        <div class="col-md-12 m-2" >
          <p-checkbox name="represe"  binary="true" inputId="binary" [(ngModel)]="ouvrier.representeEquipe"></p-checkbox>   
          <label for="float-input" cols="100" style="margin-bottom:1px;margin-left:2px;margin-right:2px;" >{{'mainOeuvre.representeEquipe'|translate}}</label>
        </div>
        <div class="col-md-12 m-2" >
          <p-inputNumber  [hidden]="!ouvrier.representeEquipe" [style]="{'width':'100%'}" name="repreNumb" [(ngModel)]="ouvrier.representeNombre"></p-inputNumber>
        </div>
        <div class="col-md-12" >   
          <label for="float-input" cols="100" >{{'mainOeuvre.modePaiement'|translate}}  </label>
          <div class="p-field-radiobutton mb-2" *ngFor="let type of 'mainOeuvre.methodePaie'|translate">
            <p-radioButton name="mode{{type.code}}" value="{{type.code}}" [(ngModel)]="ouvrier.modePaiement" inputId="{{type.code}}" #mode{{type.code}}="ngModel" [required]="true"></p-radioButton>
            <label for="city1{{type.code}}" style="margin-bottom:0;margin-left:2px;margin-right:2px;">{{type.name}}</label>
        </div>   
        </div>
        <div class="col-md-12 mb-3" >
          <label for="float-input" cols="100" >{{'mainOeuvre.banque'|translate}}  </label>
          <p-dropdown name="banques" [options]="banques"  [style]="{'width':'100%'}" placeholder="{{'mainOeuvre.banque'|translate}}..." [(ngModel)]="ouvrier.banque" optionLabel="name" optionDisabled="inactive"></p-dropdown>                                 
        </div>
   
        <div class="col-md-12" >   
          <label for="float-input" cols="100" >{{'mainOeuvre.rib'|translate}}  </label>
          <input type="text" name="rib" pInputText style="width:100%;" [(ngModel)]="ouvrier.rib"/>                     
        </div>
      </p-tabPanel>
      <p-tabPanel header="{{'mainOeuvre.attachement'|translate}}">
        <div class="col-md-12" >   
          <label for="float-input" cols="100" >{{'mainOeuvre.attachement'|translate}}  </label>
          <div>
            <div class="p-field-checkbox mb-2" *ngFor="let s of societes">
              <div class="ml-3">
                <p-checkbox name="group1" value="{{s.societe.id}}" [(ngModel)]="checkedSocietes" (onChange)="checkSoc(s.societe.id)" inputId="ny"></p-checkbox>
                <label for="ny" style="margin-bottom:0;margin-left:2px;margin-right:2px;" >{{s.societe.name}}</label>
              </div>
              <div *ngIf="checkedSocietes.indexOf(s.societe.id.toString())>=0" class="ml-5">
                  <div class="p-field-checkbox mb-2" *ngFor="let ferme of s.fermes">
                    <p-checkbox name="group1" checked="true" value="{{ferme.IDFermes}}" [(ngModel)]="ouvrier.fermes" inputId="ny"></p-checkbox>
                    <label for="ny" style="margin-bottom:0;margin-left:2px;margin-right:2px;" >{{ferme.Nom}}</label>
                  </div>
                </div>
            </div>
          </div>                 
        </div>
        <div class="text-center">
          <button *ngIf="!forEdit" pButton type="button" [disabled]="mat.invalid || nom.invalid || prenom.invalid || civilite.invalid" label="{{'global.enregistrer'|translate}}" (click)="save()" icon="pi pi-check" class="p-button mt-4"></button>
          <button *ngIf="forEdit" pButton type="button" [disabled]="mat.invalid || nom.invalid || prenom.invalid || civilite.invalid" label="{{'global.modifier'|translate}}" (click)="update()" icon="pi pi-check" class="p-button mt-4"></button>
        </div>
      </p-tabPanel>
  </p-tabView>
  </div>
  <div *ngIf="consult &&!graphiqueView" >
    <div class="text-right">
      <button type="button" pButton pRipple icon="pi pi-times" (click)="consult=!consult" class="p-button-danger p-ml-auto btn-cancel-consult" pTooltip="{{'global.fermer'|translate}}" tooltipPosition="bottom"></button>
    </div>
    <h3 class="page-title mb-5">
      {{ 'mainOeuvre.ouvriers' | translate }} - {{ 'global.consulter' | translate }} 
    </h3>
    <div class="row">
    <div class="col-md-4">
      <h4>{{'rendement.informationsGenerales'|translate}}</h4>
      <hr/>
      <p-table  [value]="declarationForConsult">
        <ng-template pTemplate="header">
            <tr>
                <th>{{'rendement.dateRecolte'|translate}}</th>
                <th>{{'rendement.observations'|translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-declaration>
            <tr>
                <td>{{declaration.date_recolte | date: 'MM/dd/yyyy'}}</td>
                <td>{{declaration.observations}}</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-md-8">
      <h4>{{'rendement.qteRecolte'|translate}} (kg)</h4>
      <hr/>
      <p-table [value]="parcelles">
        <ng-template pTemplate="header">
            <tr>
                <th [style]="{width: '30%'}">{{'rendement.parcelle'|translate}}</th>
                <th [style]="{width: '10%'}" >{{'rendement.recolteMO'|translate}}</th>
                <th [style]="{width: '10%'}">{{'rendement.recolteHorsMO'|translate}}</th>
                <th [style]="{width: '10%'}">{{'rendement.ventePieds'|translate}}</th>
                <th [style]="{width: '10%'}">{{'rendement.qteTotale'|translate}}</th>
                <th [style]="{width: '10%'}">{{'rendement.solde'|translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-parcelle>
            <tr>
                <td [style]="{width: '30%'}">{{parcelle.designation}}</td>
                <td [style]="{width: '10%'}" >{{parcelle.RecolteMO}}</td>
                <td [style]="{width: '10%'}" >{{parcelle.RecolteHorsMO}}</td>
                <td [style]="{width: '10%'}" >{{parcelle.VentePieds}}</td>
                <td [style]="{width: '10%'}" >{{parcelle.QteTotale}}</td>
                <td [style]="{width: '10%'}" >{{parcelle.Solde}}</td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  </div>